<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="https://eventro.herokuapp.com">EVENTRO</a> by <a href="https://www.github.com/lancelot1337">Sudhanshu</a>
        </small>
    
        <nav>
            <ul>
                <li> <%= link_to "About", about_path %> </li>
            </ul>
        </nav>
    </footer>
</div>